* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
div.topside {
  background-color: rgb(110, 255, 110);
  display: flex;
  height: 60px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
div.logo {
  display: flex;
  width: 40%;
  height: 60px;
}
div.userButton1 {
  border-radius: 5px;
  background-color: rgb(184, 253, 184);
  margin-left: 10%;
  margin-right: 10%;
  width: 15%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}
hr {
  border-top: 1px solid rgb(0, 0, 0);
  border-radius: 10000px;
  max-width: 900px;
  margin: auto;
  width: 800px;
}
div.botside {
  display: block;
  height: 800px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
div.counterBox {
  height: 360px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
div.tasks {
  margin-top: 20px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(184, 253, 184);
  border-radius: 10px;
}
.settingSvg {
  margin-top: 10px;
  margin-right: 8px;
  color: rgb(2, 107, 121);
}
.upsideMiniText {
  margin-top: auto;
  margin-bottom: auto;
  font-family: "Supermercado One", cursive;
  color: rgb(2, 107, 121);
  font-size: 17px;
}
.logo {
  width: 35px;
  height: 35px;
  margin-top: auto;
  margin-bottom: auto;
}
body {
  background-color: rgb(110, 255, 110);
}
.pomodoroLogo {
  width: 64px;
  height: 64px;
}
.pomodoroText {
  font-size: 26px;
  position: relative;
  bottom: 5px;
  font-family: "Supermercado One", cursive;
  color: rgb(2, 107, 121);
}
.counterBox {
  background-color: rgb(184, 253, 184);
  margin-top: 10px;
  border-radius: 20px;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.plusButton1 {
  display: inline-flex;
  margin-left: 2%;
  margin-top: 5px;
}
.nextButton {
  display: inline-flex;
  margin-left: 92%;
  margin-top: 5px;
}
.counter {
  margin-left: auto;
  margin-right: auto;
  font-size: 200px;
  font-family: "Supermercado One", cursive;
  color: black;
  width: fit-content;
}
.startButton {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Supermercado One", cursive;
  background-color: rgb(0, 155, 155);
  height: 70px;
  width: 240px;
  border-radius: 5px;
  display: block;
}
.startText {
  font-size: 40px;
  margin: auto;
  width: fit-content;
  padding-top: 11.2px;
  padding-bottom: 11.2px;
}
.middleText {
  font-family: "Supermercado One", cursive;
  height: 32px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  background-color: rgb(184, 253, 184);
  padding: 0px;
  position: relative;
  z-index: 1;
  width: min-content;
}
.middleTexthr {
  position: relative;
  bottom: 13px;
  border-radius: 1000px;
}
.addWork {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  display: flex;
  margin-bottom: 10px;
}
.workInput {
  height: 30px;
  margin-left: auto;
  margin-right: 0px;
  width: 800px;
  border-radius: 5px 0px 0px 5px;
  background-color: rgb(7, 255, 201);
  border-color: black;
  border-width: thick;
  border: 1px solid;
}
.plusButton {
  height: 30px;
  width: 30px;
  border-radius: 0px 5px 5px 0px;
  padding: 0 0px;
  margin-right: 0px;
  background-color: rgb(7, 255, 201);
  border-color: black;
  border: 1px solid;
  border-left: 0px;
}
.workList {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  display: flex;
}
.workText {
  width: min-content;
  height: 100%;
  text-align: center;
  color: gray;
  margin-top: 6px;
}
